	<body class="grid">
		<title> Capsule 001 </title>

		<div class="header">
			<h1> Capsule 001 </h1>
            <hr>
		</div>
        
		<div class="menu">
			<li> <%= link_to 'Java', code_display_path(:language => 'java') %> </li>
			<li> <%= link_to 'Ruby', code_display_path(:language => 'ruby') %> </li>
			<li> <%= link_to 'C++', code_display_path(:language => 'c++') %> </li>
		</div>



